.about {
    margin: 0 auto;
    max-width: 800px;
    background: var(--beige);
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about > h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}