/* || ALL PROJECTS SECTION */
.allProjects {
    margin: 0px 10px;
    max-width: 1200px;
    display: grid;
    grid-template: auto / auto;
    grid-gap: 15px;
    text-align: center;

}

@media only screen and (min-width: 600px) {
    .allProjects {
        margin: 0px auto;
    }
}

.allProjects > h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-size: 30px;
    padding: 0px 10px;
}

@media only screen and (min-width: 600px) {
    .allProjects > h2 {
        font-size: 40px;
        padding: 0px;
    }
}

.allProjects > p {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

@media only screen and (min-width: 600px) {
    .allProjects > p {
       width: 600px;
    }
}

.technologyFilter {
    max-width: 850px;
    margin: 0 auto;
    display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
    margin-bottom: 50px;
}

.technologyFilter > button {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: var(--beige);
    border: none;
    border-radius: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    opacity: 1;
    transition: opacity 0.5s ease;
    width: auto;
}

@media only screen and (min-width: 600px) {
    .technologyFilter > button {
        padding: 8px 10px;

    }
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}

button:focus, button:active {
    opacity: 0.5;
}

button > span {
    margin-left: 5px;
}

.projectsGrid {
    display: grid;
    grid-template: auto / auto;
    grid-gap: 10px;
}

@media only screen and (min-width: 600px) {
    .projectsGrid {
        grid-template: auto /  repeat(3, minmax(0, 1fr));
        grid-gap: 20px;
    }
}

.projectCard {
    display: grid;
    grid-template: 50px auto 80px 50px 50px / auto;
    grid-gap: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: var(--beige);
    padding: 15px 25px;
    align-content: center;
}

.container {
    width: 100%;
    height: 200px;

}
.container > * {
    border-radius: 10px;
}

.projectCard > p{
    margin: 0;
    font-style: italic;
    text-align: justify;
    align-self: flex-start;

}

.projectCard > h3{
    font-size: 22px;
}

.projectCard * {
    align-self: center;
    justify-self: center;
}

.projectCard img {
    object-position: top left;
}

.projectLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.projectLinks > p {
    margin: 0;
}

.projectLinks > a {
    color: hsl(212, 64%, 29%);
    font-weight: bold;
    padding: 8px;
    border: 2px solid hsl(212, 64%, 29%);
    border-radius: 8px;
    transition: all 0.5s ease;

}

.projectLinks > a:hover {
    background: hsl(212, 64%, 29%);
    color: white;
}

.technologyCards {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 8px;
    justify-self: end;
    margin-top: 10px;
}