/* || FEATURED PROJECTS SECTION */
.featured {
    margin: 0 auto;
    max-width: 880px;
    display: grid;
    grid-template: 0.2fr auto / 1fr;
    grid-gap: 20px;

}

.featured > h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    align-self: center;
    font-size: 30px;
    padding: 0px 20px;
}

@media only screen and (min-width: 600px) {
    .featured > h2 {
        font-size: 40px;
        padding: 0px;
    }
}

.featuredProject:nth-child(odd) {
    background: var(--light-blue);
}

.featuredProject:nth-child(even) {
    background: var(--blue);
}

.featuredProject {
    border-radius: 0px;
    padding: 20px;
    display: grid;
    grid-template: auto / 1fr 1fr;
    grid-template-areas: 
                    "name name"
                    "description description"
                    "additional additional"
                    "image image"
                    "button button";
    grid-gap: 20px;
}

@media only screen and (min-width: 600px) {
    .featuredProject {
        padding: 30px 40px;
        border-radius: 20px;
        grid-template-areas: 
                    "name name"
                    "description image"
                    "additional image"
                    "button image";
    }
}

.featuredProject > p {
    margin: 0;
}

.name {
    grid-area: name;
    text-align: center;
    text-decoration:  solid underline black 2px;
    margin-bottom: 10px;
    font-size: 20px;
}

.description {
    grid-area: description;
    font-weight: bold;
    font-size: 22px;
}

.additional {
    grid-area: additional;
}

.imageStyle {
    grid-area: image;
    width: 100%;
    transition: all 0.5s ease;
}

.imageStyle:hover {
    opacity: 0.7;
}

.imageStyle * {
    border-radius: 8px;
}

.featuredProject > a {
    grid-area: button;
    color: white;
    background: var(--dark-blue);
    justify-self: center;
    align-self: flex-end;
    padding: 12px 14px;
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.5s ease;
}

@media only screen and (min-width: 600px) {
    .featuredProject > a {
        justify-self: flex-start;
    }
}

.featuredProject > a:hover {
    opacity: 0.7;
}