.featured {
    margin: 0 auto;
    max-width: 880px;
    /*padding: 20px 40px;*/
    display: grid;
    grid-template: 0.2fr auto / 1fr;
    grid-gap: 20px;

}

.featured > h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    /* margin-bottom: 20px; */
    align-self: center;
}

.featuredProject:nth-child(odd) {
    background: var(--light-blue);
}

.featuredProject:nth-child(even) {
    background: var(--blue);
}

.featuredProject {
    padding: 30px 40px;
    border-radius: 20px;
    display: grid;
    grid-template: auto / 1fr 1fr;
    grid-template-areas: 
                    "name name"
                    "description image"
                    "additional image"
                    "button image";
    grid-gap: 20px;
}

.featuredProject > p {
    margin: 0;
}

.name {
    grid-area: name;
    text-align: center;
    text-decoration:  solid underline black 2px;
    margin-bottom: 10px;
    font-size: 20px;
}

.description {
    grid-area: description;
    font-weight: bold;
    font-size: 22px;
}

.additional {
    grid-area: additional;
}

.imageStyle {
    grid-area: image;
    width: 100%;
}

.imageStyle * {
    border-radius: 8px;
}

.featuredProject > a {
    grid-area: button;
    color: white;
    background: var(--dark-blue);
    justify-self: flex-start;
    align-self: flex-end;
    padding: 12px 14px;
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.5s ease;
}

.featuredProject > a:hover {
    opacity: 0.7;
}