@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/* GENERAL */
:root {
  --beige: #F9F7F7;
  --light-blue: #DBE2EF;
  --blue: #3F72AF;
  --dark-blue: #112D4E;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: black;
}

html, body {
  min-height: 100%;
}

body {
  background: radial-gradient(at top left, var(--light-blue) 0%, var(--blue) 100%);
  background-repeat: no-repeat;
}

p {
  margin: 16px auto;
  line-height: 1.5em;
}

/* LAYOUT */
.layout {
    max-width: 1200px;
    margin: 0 auto;
}

.content > section {
  margin-bottom: 150px;
}

@media only screen and (max-width: 600px) {
  /* .content > section:first-child {
    margin-bottom: 150px;
  } */
  
  .content > section {
    margin-bottom: 100px;
  }
}

h2 {
  font-size: 40px;
}

/* HEADER */
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px auto;
    /* Sticky header start, move into seperate class? */
    position: fixed;
    width: 1200px;
    z-index: 100;
    transition: all 0.3s ease;
}

@media only screen and (max-width: 600px) {
  header {
    /* Create mobile hamburger menu! */
    width: 100%;
    margin: 15px 15px 15px 15px;
  }

  /* Add hamburger menu styling here */
  nav {
    align-self: center;
    justify-self: end;
    width: 100%;
    margin-right: 25px;
    text-align: end;
  }
}

.headerScroll {
  background: hsla(213, 47%, 57%, 1);
  margin: 0;
  /* width: 100vw; */
  align-items: center;
  padding: 5px 0px;
  /* width: 99vw; */
  /* left: 0px; */
  /* right: 150px; */
  /* margin-right: 1000px; */
  box-shadow: 0px 1px 5px black;
  color: white !important;

}

.headerScroll > h1 {
  margin-left: 25px;
}

.headerScroll > nav {
  margin-right: 25px;
}

header .links {
    /* display: inline-block;
    text-align: right; */
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header > h1 {
  z-index: 10;
}

@media only screen and (max-width: 600px) {
  header > h1 {
      font-size: 23px;
  }
}

nav a {
    display: inline-block;
    margin-left: 20px;
    font-weight: 400;
    /* padding-bottom: 8px; */
    padding: 8px;
    /* border-bottom: 3px solid transparent; */
}

nav a:hover {
    /* border-color: white; */
    background: hsla(219, 38%, 90%, 0.7);
    border-radius: 5px;
}

/* PARTICLES */
.particles {
  position: absolute;
  inset: 0px;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  footer {
    padding: 20px 20px 0px 20px;
    background: var(--blue);
    border-top: 2px solid var(--dark-blue);
  }
}

.contact {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  grid-gap: 15px;
  /* width: 100%; */
}

@media only screen and (max-width: 600px) {
  .contact {
    grid-template: auto / auto;
    grid-gap: 40px;
  }
}

.contactText {
  /* To do */
  width: 100%; /* Remove this width rule */
  /* align-self: center; */
}

.contactText > h3 {
  font-size: 28px;
}

@media only screen and (max-width: 600px) {
  .contactText > h3 {
    text-align: center;
  }
}

.contactText > p {
  margin: 12px 0px 16px 0px;
}

@media only screen and (max-width: 600px) {
  .contactText > p {
    text-align: center;
  }
}

.socialIcons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .socialIcons {
    justify-content: center;
  }
}

.socialIcons > a {
  margin-right: 5px;
}

.socialIcons a > svg {
  width: 36px;
  height: 36px;
  position: relative;
  top: 0;
  transition: all ease 0.5s;
}

.socialIcons a > svg:hover {
  cursor: pointer;
  fill: white;
  top: -3px;
}

/* CONTACT FORM */
.contactForm {
  /* To do */
  /* width: 50%; */
  /* align-self: center; */
  display: grid;
  grid-template: auto / auto;
  grid-gap: 15px;
  border-radius: 15px;
  background: var(--light-blue);
  padding: 25px 20px;
}

.contactForm > p {
  width: 90%;
  margin: 0;
}

.contactForm input, textarea, button {
  color: black;
  width: 100%;
  padding: 10px;
}

.contactForm button {
  width: 100px;
  background: var(--beige);
  border: none;
  border-radius: 5px;
  padding: 13px;
  color: black;
  transition: all 0.5s ease;
}

.contactForm button:hover {
  background: var(--dark-blue);
  color: white;
}

input, textarea {
  margin-top: 5px;
}

.footerInfo {
  margin: 60px auto 0px auto;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .footerInfo  {
    margin-top: 30px;
  }

  .footerInfo > p {
    margin: 8px 0px;
    font-size: 13px;
  }
}

.footerInfo p > a {
  border-bottom: 1px solid black;
  transition: all 0.5s ease;
}

.footerInfo p:first-child > a {
  border-bottom: none;
  transition: all 0.5s ease;
}

.footerInfo p > a:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
  color: white;
}

.footerInfo p:first-child > a:hover {
  cursor: pointer;
  border-bottom: none;
  color: white;
}