@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/* || GENERAL */
:root {
  --beige: #F9F7F7;
  --light-blue: #DBE2EF;
  --blue: #3F72AF;
  --dark-blue: #112D4E;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: black;
}

html, body {
  min-height: 100%;
}

body {
  background: radial-gradient(at top left, var(--light-blue) 0%, var(--blue) 100%);
  background-repeat: no-repeat;
}

p {
  margin: 16px auto;
  line-height: 1.5em;
}

/* || LAYOUT */
.layout {
    max-width: 1200px;
    margin: 0 auto;
}

.content > section {
  margin-bottom: 100px;
}

@media only screen and (min-width: 600px) {
  .content > section {
    margin-bottom: 150px;
  }
}

h2 {
  font-size: 40px;
}

/* || HEADER */
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Sticky header */
    position: fixed;
    width: 100%;
    margin: 15px 15px 15px 15px;
    z-index: 1001;
    transition: all 0.3s ease;
}

@media only screen and (min-width: 600px) {
  header {
    margin: 40px auto;
    width: 1200px;
  }
}

.headerScroll {
  background: hsla(213, 47%, 57%, 1);
  margin: 0;
  align-items: center;
  padding: 5px 0px;
  box-shadow: 0px 1px 5px black;
  color: white !important;

}

.headerScroll > h1 {
  margin-left: 25px;
}

.headerScroll > nav {
  margin-right: 25px;
}

header .links {
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    display: none;
}

@media only screen and (min-width: 600px) {
  header .links {
    display: block;
  }
}

header > h1 {
  font-size: 16px;
  padding: 5px 0px;
}

@media only screen and (min-width: 600px) {
  header > h1 {
      font-size: 32px;
      z-index: 10;
      padding: 0px;
  }
}

nav a {
    display: inline-block;
    font-weight: 400;
    padding: 8px;

    margin-left: 0px;
    transition: color 300ms;
    font-size: 22px;
    margin-top: 10px;
}

@media only screen and (min-width: 600px) {
  nav a {
    margin-left: 20px;
    transition: none;
    font-size: 16px;
    margin-top: 0px;
  }
}

nav a:hover {
    background: none;
    border-radius: none;
    color: white;
}

@media only screen and (min-width: 600px) {
  nav a:hover {
    background: hsla(219, 38%, 90%, 0.7);
    border-radius: 5px;
    color: black;
  }
}


/* || MOBILE MENU */
.menuIcon {
  position: fixed;
  top: 8px;
  right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 1.5rem;
  height: 2.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1005;
}

.menuIcon:active, .menuIcon:focus, .menuIcon:hover {
  opacity: 1;
}

.menuIcon div {
  width: 1.5rem;
  height: 0.2rem;
  background: black;
  border-radius: 5px;
  transform-origin: 1px;
  position: relative;
  transition: opacity 300ms, transform 300ms;
}

.mobileClicked div:first-child {
  transform: rotate(38deg);
}

.mobileClicked div:nth-child(2) {
  opacity: 0;
}

.mobileClicked div:nth-child(3) {
  transform: rotate(-36deg);
}

.mobileNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1000;
  background: rgba(63, 114, 175, 1);
}

/* || PARTICLES */
.particles {
  position: absolute;
  inset: 0px;
}

/* || FOOTER */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 0px 20px;
  background: var(--blue);
  border-top: 2px solid var(--dark-blue);
}

@media only screen and (min-width: 600px) {
  footer {
    padding: 0px;
    background: none;
    border-top: none;
  }
}

.contact {
  display: grid;
  grid-template: auto / auto;
  grid-gap: 40px;
}

@media only screen and (min-width: 600px) {
  .contact {
    grid-template: 1fr / 1fr 1fr;
    grid-gap: 15px;
  }
}

.contactText {
  width: 100%;
}

.contactText > h3 {
  font-size: 28px;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .contactText > h3 {
    text-align: left;
  }
}

.contactText > p {
  margin: 12px 0px 16px 0px;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .contactText > p {
    text-align: left;
  }
}

.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .socialIcons {
    justify-content: flex-start;
  }
}

.socialIcons > a {
  margin-right: 5px;
}

.socialIcons a > svg {
  width: 36px;
  height: 36px;
  position: relative;
  top: 0;
  transition: all ease 0.5s;
}

.socialIcons a > svg:hover {
  cursor: pointer;
  fill: white;
  top: -3px;
}

/* || CONTACT FORM */
.contactForm {
  display: grid;
  grid-template: auto / auto;
  grid-gap: 15px;
  border-radius: 15px;
  background: var(--light-blue);
  padding: 25px 20px;
}

.contactForm > p {
  width: 90%;
  margin: 0;
}

.contactForm input, textarea, button {
  color: black;
  width: 100%;
  padding: 10px;
}

.contactForm button {
  width: 100px;
  background: var(--beige);
  border: none;
  border-radius: 5px;
  padding: 13px;
  color: black;
  transition: all 0.5s ease;
}

.contactForm button:hover {
  background: var(--dark-blue);
  color: white;
}

input, textarea {
  margin-top: 5px;
}

.footerInfo {
  margin: 30px auto 0px auto;
  text-align: center;
}

.footerInfo > p {
  margin: 8px 0px;
  font-size: 13px;
}

@media only screen and (min-width: 600px) {
  .footerInfo  {
    margin-top: 60px;
  }

  .footerInfo > p {
    margin: 16px auto;
    font-size: 16px;
  }
}

.footerInfo p > a {
  border-bottom: 1px solid black;
  transition: all 0.5s ease;
}

.footerInfo p:first-child > a {
  border-bottom: none;
  transition: all 0.5s ease;
}

.footerInfo p > a:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
  color: white;
}

.footerInfo p:first-child > a:hover {
  cursor: pointer;
  border-bottom: none;
  color: white;
}

/* || ERROR 404 */
.error {
  padding: 170px 30px 150px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.error > h2 {
  font-size: 80px;
  margin-bottom: 20px;
}

.error > p {
  margin: 0px 0px 15px 0px;
}

.error > hr {
  width: 100%;
  margin-bottom: 22px;
  border: 0;
  height: 1.5px;
  background: black;
}

.error > a {
  color: white;
  background: var(--dark-blue);
  padding: 12px 14px;
  border-radius: 8px;
  font-weight: bold;
  transition: all 500ms ease;
}

.error > a:hover {
  color: var(--dark-blue);
  background: white;
}

@media only screen and (min-width: 600px) {
  .error > h2 {
    font-size: 100px;
  }

  .error > hr {
    width: 500px;
    margin: 20px auto 40px auto;
  }
}